
<footer class="footer">
  <small>
    <p class="text-muted">All work owned by <strong>Dan Nelson</strong></p>
  </small>
    <nav><ul><li><%= link_to "About", "pages/about" %></li></ul></nav>
</footer>
  